{% extends 'layout/base.html' %}

{% block title %} TRANG CHU {% endblock %}

{% block content %}
<body>
<div class="jumbotron bg-info">
  <div class="container text-center">
    <h1 class="text-center text-danger">REKOGNITION</h1>
  </div>
</div>
<div class="card-body bg-success">
<div class="container">
    <div class="col-sm-4">
      <a class="panel panel-primary">
        <div class="panel-heading">Phân tích giao thông</div>
        <div class="panel-body"><img src="static/images/phuongtien.png" class="img-responsive" style="width:100%" alt="Image"></div>
      <a href="/object" class="nav-link text-warning">THƯC HIỆN</a>
      </div>
    <div class="col-sm-4">
      <a class="panel panel-danger">
        <div class="panel-heading">Phân tích khuôn mặt</div>
        <div class="panel-body"><img src="static/images/khuonmat.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/khuonmat" class="nav-link text-warning">THỰC HIỆN</a>
      </div>
    <div class="col-sm-4">
      <a class="panel panel-danger">
        <div class="panel-heading">Phân tích sử dụng bảo hộ</div>
        <div class="panel-body"><img src="static/images/download.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <a href="/baoho" class="nav-link text-warning">THỰC HIỆN</a>
      </div>
    </div>
</div>

</body>
{% endblock %}