{% extends 'layout/base.html' %}

{% block title %} TRANG CHU {% endblock %}

{% block content %}
<h1 class="text-center text-danger">REKOGNITION-FACE</h1>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>
<body>
<div style="text-align: center">
<img src="{{ "static/images/"+avatar }}">
    <p>{{avatar}}</p>
</div>
<table style="width:100%">
  <tr>
    <th class="text-center text-danger">Object</th>
    <th class="text-center text-danger"> Tuổi</th>
      <th class="text-center text-danger"> Gender</th>
      <th class="text-center text-danger"> Smile</th>
      <th class="text-center text-danger"> Eyeglass</th>
      <th class="text-center text-danger"> Emotions</th>
  </tr>
    {%for i in rekog %}
  <tr>
    <td class="text-center">{{i[0]}}</td>
    <td class="text-center">{{i[1]}}</td>
       <td class="text-center">{{i[2]}}</td>
       <td class="text-center">{{i[3]}}</td>
       <td class="text-center">{{i[4]}}</td>
       <td class="text-center">{{i[5]}}</td>
  </tr>
    {%endfor%}
</table>
</body>
{% endblock %}